# Session #1 Homework

# Set up the environment
You need to install Python, NumPy, Pandas, Matplotlib and Seaborn. For that, you can the instructions from 06-environment.md.

In [47]:
import numpy as np
np.__version__

'1.21.5'

In [48]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2022-09-06 09:57:24--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: 'data.csv.1'

data.csv.1          100%[===================>]   1.41M  3.20MB/s    in 0.4s

2022-09-06 09:57:25 (3.20 MB/s) - 'data.csv.1' saved [1475504/1475504]

In [49]:
import pandas as pd

df = pd.read_csv('data.csv')

In [50]:
#Number of rows
print(len(df))

11914

In [51]:
df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [52]:
df["Make"].value_counts()[:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

In [53]:
print(df[df["Make"] == "Audi"]["Model"].value_counts())
a = df[df["Make"] == "Audi"]["Model"].value_counts()
print(a)
print(f"Number of unique Audi car models in the dataset {len(a)}")

A3                 47
A4                 25
R8                 25
A6                 23
Q5                 20
100                15
Q7                 15
Q3                 14
S4                 12
A7                 10
A5                  9
S5                  9
90                  9
allroad quattro     8
allroad             8
S3                  6
TT                  6
SQ5                 6
RS 5                6
80                  6
200                 6
A8                  6
S6                  5
S7                  4
S8                  4
TTS                 4
RS 4                3
A4 allroad          3
RS 7                3
Cabriolet           3
V8                  3
Coupe               2
TT RS               2
RS 6                1
Name: Model, dtype: int64
A3                 47
A4                 25
R8                 25
A6                 23
Q5                 20
100                15
Q7                 15
Q3                 14
S4                 12
A7                 10
A5                  9
S5                  9
90                  9
allroad quattro     8
allroad             8
S3                  6
TT                  6
SQ5                 6
RS 5                6
80                  6
200                 6
A8                  6
S6                  5
S7                  4
S8                  4
TTS                 4
RS 4                3
A4 allroad          3
RS 7                3
Cabriolet           3
V8                  3
Coupe               2
TT RS               2
RS 6                1
Name: Model, dtype: int64
Number of unique Audi car models in the dataset 34

In [54]:
df.isnull().any()

Make                 False
Model                False
Year                 False
Engine Fuel Type      True
Engine HP             True
Engine Cylinders      True
Transmission Type    False
Driven_Wheels        False
Number of Doors       True
Market Category       True
Vehicle Size         False
Vehicle Style        False
highway MPG          False
city mpg             False
Popularity           False
MSRP                 False
dtype: bool

In [55]:
print(sum(df.isnull().any()))

5

In [56]:
df["Engine Cylinders"].median()

6.0

In [42]:
df["Engine Cylinders"].mode()

0    4.0
Name: Engine Cylinders, dtype: float64

In [57]:
df['Engine Cylinders'].fillna(df['Engine Cylinders'].mode()[0], inplace=True)

In [58]:
df["Engine Cylinders"].median()

6.0

Question 7

In [64]:
df_lotus = df[df["Make"] == "Lotus"]

In [70]:
x = df_lotus[["Engine HP", "Engine Cylinders"]].drop_duplicates().to_numpy()
x

array([[189.,   4.],
       [218.,   4.],
       [217.,   4.],
       [350.,   8.],
       [400.,   6.],
       [276.,   6.],
       [345.,   6.],
       [257.,   4.],
       [240.,   4.]])

In [74]:
XTX = np.matmul(x.T,x)

In [75]:
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

In [76]:
inverse_XTX = XTX.T

In [77]:
w = (inverse_XTX @ x.T)@y

In [78]:
w

array([1.83688225e+12, 3.36658977e+10])